<!-- GET RID OF NG CLICK AND SET A FUNCTION IN THE DIRECTIVE

<div class='post' ng-click='select_post(post);'>
-->



<div class='post' ng-click=''>
	<img src='images/post_images/{{post.image}}' class='post_image' class='col-xs-12'>
	<span class='col-xs-12'>{{post.name}}</span>
	<span class='col-xs-12'>{{post.price}}</span>

	<button type='button' class='update_button'>Update</button>
<!--
	<img src='images/white_space.jpg' class='post_image' class='col-xs-12'>
	<span class='col-xs-12'>Name</span>
	<span class='col-xs-12'>9.99$</span>







	











	<span class='data_start_time'>{{activity.name}}</span>

	<span class='data_start_time'>{{activity.start_time}}</span>

	<span> - </span>

	<span class='data_end_time'>{{activity.end_time}}</span>

	<span class='data_description'>: {{activity.description}}</span>

	<span class='data_type'>: {{activity.subtype}}</span>

	<span class='data_type'>: {{activity.type}}</span>

	<button class='update' data-toggle="modal" data-target="#update_activity_modal" ng-click='set_id(activity.id)'>Update</button>

	<button class='delete' ng-click='delete_activity(activity.id)'>Delete</button>
-->
</div>